.photocradle .photocradle-box { background: #1d1d1d; border-radius: 4px 4px 4px 4px; box-shadow: 0px 0px 4px #fff; }

.photocradle .thumbnails-plane { background: transparent; }
.photocradle .thumbnails-slider { background: #1d1d1d; border-radius: 4px 4px 4px 4px; }

.photocradle .previewControl .control-next { background: url(controls.png) no-repeat -262px 0; width: 38px; height: 48px; }
.photocradle .previewControl .control-prev { background: url(controls.png) no-repeat -224px 0; width: 38px; height: 48px; }
.photocradle .mini .control-next { background: url(controls.png) no-repeat -243px -48px; width: 19px; height: 20px; }
.photocradle .mini .control-prev { background: url(controls.png) no-repeat -224px -48px; width: 19px; height: 20px; }
.photocradle .originalControl .control-next { background: url(controls.png) no-repeat -112px 0; width: 112px; height: 112px; }
.photocradle .originalControl .control-prev { background: url(controls.png) no-repeat 0 0; width: 112px; height: 112px; }

.photocradle .originalLoader .loader { background: #1d1d1d url(loader.png) no-repeat center center; width: 90px; height: 54px; border-radius: 9px 9px 9px 9px; opacity: 0.9; }